<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src=''></script>
</head>
<body>
{{template "navbar.gohtml" .}}
<div class="container" style="padding-left:3%;padding-right:3%;">
    <div class="btn-group mr-2" role="group" > <a class="btn btn-secondary" href="formtambahproduk">Tambah Produk</a> </div>
    <div class="btn-group mr-2" role="group" > <a class="btn btn-secondary" href="daftarproduk">Daftar Produk</a> </div>

        <br><center><h4>Daftar Transaksi</h4></center><br>
    {{range .Transaksis}}
    <a href = "transaksidetil?idtransaksi={{.Idtransaksi}}" >
    <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="input-group">
        <input type="text" class="input-group-text justify-content-end" value="{{.Idtransaksi}}" readonly>
        <input type="text" class="input-group-text" value="Rp{{.Totalharga}}" readonly>
    </div>
    <span class="badge badge-primary badge-pill">{{.Status}}</span>
    </li>
    </a>
    {{end}}
</div>
</body>
</html>