<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src=''></script>
</head>
<body>
{{template "navbar.gohtml" .}}
<div class="container" style="padding-left:3%;padding-right:3%;" id="container">
{{template "tambahkeranjang.gohtml" .}}

<div class="btn-group mr-2 ml-auto" role="group" > <a class="btn btn-secondary " href="keranjang">Keranjang</a> </div>
<div class="btn-group mr-2 ml-auto" role="group" > <a class="btn btn-secondary " href="penggunatrans">Daftar Transaksi</a> </div> <br>

<div class="row row-cols-1 row-cols-md-4" id="daftarproduk" style="width:100%;">

    {{range .Produks}}
        <div class="col-sm-3" > 
		   <div class="card" > 
		   <a href="/produk?idproduk={{.Idproduk}}"> 
			<div class="card-body">
            	<div class="list-group-item"><center><h5> {{.Namaproduk}} </h5></center></div>
				<div class="list-group-item"> <img src="/img/{{.Filename}}" height="150px" width="150px" /> </div>
				<div class="list-group-item"><center><h5> Rp{{.Harga}} </h5></center></div>
			</div>
			</a>
        	<div class="btn-group" role="group" aria-label="Basic example">
            	<button  class="btn btn-primary" onclick="popup({{.Idproduk}})">  &nbsp  Beli &nbsp  </button> 
			</div>
    	   </div>
		</div>
    {{end}}

</div>

</div>
</body>
</html>